.overview{
    background-color: var(--background-app);
}
.overview .header{
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}

.overview .header .icon-app{
    height: 60px;
    width: 110px;
    background-image: url(../../../assets/logo_text.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    cursor: pointer;
}

.overview .header .group-header{
    display: flex;
    align-items: center;
}

.overview .header .wrap-avatar-username{
    border-radius: 25px;
    height: 40px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.overview .header .wrap-avatar-username:hover{
    cursor: pointer;
    background-color: #efefef;
}

.overview .header .wrap-avatar-username .avatar-username .username{
    font-weight: 500;
    color: #313131;
    margin-left: 5px;
}

.overview .header .group-header .icon-avatar{
    background: url(../../../assets/Avatar.jpg);
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
}

.overview .content{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 56px);
    overflow: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
}
.overview .content .body-content{
    display: flex;
    box-sizing: border-box;
}
/* Left-bar */
.overview .left-bar{
    width: var(--sidebarLeft-width);
    height: 100vh;
    background-color: var(--background-app);
    overflow: hidden;
    overflow-y: scroll;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    overflow: hidden;
}

/* Center */
.overview .center{
    width: var(--content-width);
    padding: 0 8%;
    min-height: 600px;
}

/* Right-bar */
.overview .right-bar{
    width: var(--sidebarRight-width);
    background-color: var(--background-app);
}
.button-icon{
margin-left: 10px;
}