/* Margin 10 */
.m-r-4{
    margin-right: 4px;
}
.m-r-10{
    margin-right: 10px;
}
.m-l-10{
    margin-left: 10px;
}
.m-t-10{
    margin-top: 10px;
}
.m-b-4{
    margin-bottom: 4px;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-r-14{
    margin-right: 14px;
}
.m-l-14{
    margin-left: 14px;
}
.m-t-14{
    margin-top: 14px;
}
.m-b-14{
    margin-bottom: 14px;
}
.m-r-20{
    margin-right: 20px;
}
.m-l-20{
    margin-left: 20px;
}
.m-t-20{
    margin-top: 20px;
}
.m-b-20{
    margin-bottom: 20px;
}

/* Padding 10*/
.p-r-10{
    margin-right: 10px;
}
.p-l-10{
    margin-left: 10px;
}
.p-t-10{
    margin-top: 10px;
}
.p-b-10{
    margin-bottom: 10px;
}
.p-r-14{
    margin-right: 14px;
}
.p-l-14{
    margin-left: 14px;
}
.p-t-14{
    margin-top: 14px;
}
.p-b-14{
    margin-bottom: 14px;
}
.p-r-20{
    margin-right: 20px;
}
.p-l-20{
    margin-left: 20px;
}
.p-t-20{
    margin-top: 20px;
}
.p-b-20{
    margin-bottom: 20px;
}
